# This is Git's per-user configuration file.
[color]
	diff        = auto
	status      = auto
	branch      = auto
	interactive = auto
	ui          = auto
	pager       = true
[user]
# Please adapt and uncomment the following lines:
	name        = PratikBhusal
	email       = PratikBhusal@users.noreply.github.com
[core]
	autocrlf    = input
	editor = vim
[diff]
	tool = vimdiff
[commit]
	verbose     = true
# [merge]
# 	ff = no
# git log --exclude=refs/remotes/\* --all --oneline --graph
[alias]
    st = status
    loglocalgraph = log --exclude=refs/remotes/* --all --oneline --graph
    cane= commit --amend --no-edit
[init]
	defaultBranch = main
