# This is Git's per-user configuration file.
[color]
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto
    ui          = auto
    pager       = true
[user]
# Please adapt and uncomment the following lines:
    name        = PratikBhusal
    email       = PratikBhusal@users.noreply.github.com
[core]
    autocrlf    = input
    editor = nvim
    pager = delta
[include]
    path = ~/.config/delta/themes.gitconfig
[diff]
    tool = nvimdiff
[commit]
    verbose     = true
# [merge]
#   ff = no
# git log --exclude=refs/remotes/\* --all --oneline --graph
[alias]
    st = status
    loglocalgraph = log --exclude=refs/remotes/* --all --oneline --graph
    cane= commit --amend --no-edit
    uso = ! git diff --cached --name-only --diff-filter=d | xargs git add -u
[init]
    defaultBranch = main
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[interactive]
    diffFilter = delta --color-only
[delta]
    features = darkokai
[credential]
    helper = git-credential-manager
