#!/usr/bin/env sh

# Enable Natural Scrolling
if command -v xinput 1> /dev/null 2>&1; then
    xinput --set-prop "DELL0825:00 06CB:7E92 Touchpad" "libinput Natural Scrolling Enabled" 1 1> /dev/null 2>&1
    xinput --set-prop "SynPS/2 Synaptics TouchPad" "libinput Natural Scrolling Enabled" 1 1> /dev/null 2>&1
    xinput --set-prop "pointer:Logitech K400 Plus" "libinput Natural Scrolling Enabled" 1 > /dev/null 2>&1

    # Framework Laptop Touchpad
    xinput --set-prop "PIXA3854:00 093A:0274 Touchpad" "libinput Natural Scrolling Enabled" 1 > /dev/null 2>&1
    # xinput --set-prop "PIXA3854:00 093A:0274 Touchpad" "libinput Click Method Enabled" 1 0 > /dev/null 2>&1

fi

# Start programs at startup
# xfce4-power-manager &

# Redshift blue light filter tray icon
command -v redshift-gtk 1> /dev/null 2>&1 && redshift-gtk &

# Pipewire applet (needs pipewire-pulse)
command -v pasystray 1> /dev/null 2>&1 && pasystray &

# Network manager tray icon
command -v nm-applet    1> /dev/null 2>&1 && nm-applet    &

# Hide mouse when typing
command -v xbanish      1> /dev/null 2>&1 && xbanish      &

# Pipewire Equalizer
command -v easyeffects  1> /dev/null 2>&1 && easyeffects  --hide-window &

# Logitech devices
command -v solaar       1> /dev/null 2>&1 && solaar --window=hide &

command -v libinput-gestures-setup 1> /dev/null 2>&1 && libinput-gestures-setup start &

command -v numlockx     1> /dev/null 2>&1 && numlockx

# Sudo prompt for GUI applications
command -v /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 1> /dev/null 2>&1 && /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1 &

# Change key mappings at the software level
if command -v setxkbmap 1> /dev/null 2>&1; then
    # Make it so that the only way to enable caps is by pressing both shift
    # keys. To disable caps lock, press at least 1 shift key.
    setxkbmap -option shift:both_capslock_cancel
fi

command -v xset     1> /dev/null 2>&1 && xset -b &
picom -b
xrdb .Xresources &
hsetroot -solid "#000000" &
sxhkd &
dunst &
# /usr/bin/prime-offload &
# optimus-manager-qt &


if command -v xrandr 1> /dev/null 2>&1  && command -v xidlehook 1> /dev/null 2>&1; then
    PRIMARY_DISPLAY="$(xrandr | awk '/ primary/{print $1}')"
    # export PRIMARY_DISPLAY

    xidlehook \
        `# Don't lock when there's a fullscreen application` \
        --not-when-fullscreen \
        `# Don't lock when there's audio playing` \
        --not-when-audio \
        `# Dim the screen after 120 seconds, undim if user becomes active` \
        --timer 120 \
        "xrandr --output $PRIMARY_DISPLAY --brightness .1" \
        "xrandr --output $PRIMARY_DISPLAY --brightness 1" \
        `# Undim & lock after 60 more seconds` \
        --timer 60 \
        "xrandr --output $PRIMARY_DISPLAY --brightness 1; i3lock -c 202020" \
        '' \
        `# After 10 additional minutes of idling on lock screen, suspend` \
        --timer 300 \
        'systemctl suspend' \
        '' &
fi

# if xrandr | grep -e "^DP1 connected" 1> /dev/null; then
#    xrandr --output eDP1 --off --output DP1 --primary --mode 2560x1440 --rate 165
#    # xrandr --output eDP1 --off --output DP1 --primary --mode 2560x1440 --rate 165 --pos 0x0 --rotate normal
# elif xrandr | grep -e "^HDMI-0 connected" 1> /dev/null; then
#    xrandr --output eDP1 --off --output HDMI-0 --primary --mode 2560x1440 --rate 144
# fi

# # TODO: Figure out how to make this run automatically and securely provide
# # password
# rclone mount GoogleDrive:Keepass ~/Documents/.KeePass \
# --daemon \
# --dir-cache-time 60s \
# --poll-interval 5s \
# --log-level INFO \
# --umask 002 \
# --vfs-cache-mode writes \
# --syslog
